-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
  response:
    status: 429
    headers:
      Content-Type: application/json
    body: '{"error_code":"too_many_requests","error_messages":{"base":[{"code":"too_many_requests","message":"Too many requests have been made to the api. Please refer to the Developer Center for more information","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=ashley.ford%2Bdevcentre%40currencycloud.com&api_key=57b40fe690f09b8e463d9601b9b9de86572688cb13e70c9cc65247f18a89215c'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"563e0c5d3847a5d68328bfb1292c99b6"}'
