-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
  response:
    status: 500
    headers:
      Content-Type: application/json
    body: '{"error_code":"internal_application_error","error_messages":{"base":[{"code":"internal_application_error","message":"A general application error occurred","params":{"request_id":2771875643610572878}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=ashley.ford%2Bdevcentre%40currencycloud.com&api_key=57b40fe690f09b8e463d9601b9b9de86572688cb13e70c9cc65247f18a89215c'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"65a89a04233d85c31f3aa8188a8338f3"}'
