-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/settlements/63eeef54-3531-4e65-827a-7d0f37503fcc/remove_conversion
    body: conversion_id=24d2ee7f-c7a3-4181-979e-9c58dbace992
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"id":"63eeef54-3531-4e65-827a-7d0f37503fcc","status":"open","short_reference":"20150504-RKNNBH","type":"bulk","conversion_ids":[],"entries":[],"created_at":"2015-05-04T20:29:16+00:00","updated_at":"2015-05-04T20:40:56+00:00","released_at":""}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/settlements/63eeef54-3531-4e65-827a-7d0f37503fcc/remove_conversion'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: 43814754e0f16a8e8b0bbd1395dd1692
        body: conversion_id=24d2ee7f-c7a3-4181-979e-9c58dbace992
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"d40bdcf47d368676595c4a105ad8f3d0"}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/settlements/63eeef54-3531-4e65-827a-7d0f37503fcc/remove_conversion'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: d40bdcf47d368676595c4a105ad8f3d0
        body: conversion_id=24d2ee7f-c7a3-4181-979e-9c58dbace992
    response:
        status:
            code: '404'
            message: 'Not Found'
        headers:
    [...]
