-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/reference/settlement_accounts?currency=GBP
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"settlement_accounts":[{"bank_account_holder_name":"The Currency Cloud GBP - Client Seg A/C","beneficiary_address":"","beneficiary_country":"","bank_name":"Barclays Bank plc","bank_address":[],"bank_country":"","currency":"GBP","bic_swift":"BARCGB22","iban":"GB06 BARC 2006 0513 0714 72","account_number":"13071472","routing_code_type_1":"sort_code","routing_code_value_1":"200605","routing_code_type_2":"","routing_code_value_2":""}]}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/reference/settlement_accounts?currency=GBP'
        headers:
            X-Auth-Token: 43814754e0f16a8e8b0bbd1395dd1692
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"a97d15e3ff1fb1fedd36f2df4e3bbb2c"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/reference/settlement_accounts?currency=GBP'
        headers:
            X-Auth-Token: a97d15e3ff1fb1fedd36f2df4e3bbb2c
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"settlement_accounts":[{"bank_account_holder_name":"The Currency Cloud GBP - Client Seg A/[...]
