-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/reference/beneficiary_required_details?currency=GBP&bank_account_country=GB&beneficiary_country=GB
    body: ''
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"details":[{"payment_type":"priority","beneficiary_entity_type":"individual","beneficiary_address":"^.{1,255}","beneficiary_city":"^.{1,255}","beneficiary_country":"^[A-z]{2}$","beneficiary_first_name":"^.{1,255}","beneficiary_last_name":"^.{1,255}","acct_number":"^[0-9A-Z]{1,50}$","sort_code":"^\\d{6}$"},{"payment_type":"priority","beneficiary_entity_type":"company","beneficiary_address":"^.{1,255}","beneficiary_city":"^.{1,255}","beneficiary_country":"^[A-z]{2}$","beneficiary_company_name":"^.{1,255}","acct_number":"^[0-9A-Z]{1,50}$","sort_code":"^\\d{6}$"},{"payment_type":"regular","acct_number":"^[0-9A-Z]{1,50}$","sort_code":"^\\d{6}$","beneficiary_entity_type":"individual"},{"payment_type":"regular","acct_number":"^[0-9A-Z]{1,50}$","sort_code":"^\\d{6}$","beneficiary_entity_type":"company"},{"payment_type":"priority","beneficiary_entity_type":"individual","beneficiary_address":"^.{1,255}","beneficiary_city":"^.{1,255}","beneficiary_country":"^[A-z]{2}$","beneficiary_first_name":"^.{1,255}","beneficiary_last_name":"^.{1,255}","iban":"^[0-9A-Z]{1,34}$","bic_swift":"^[0-9A-Z]{8}$|^[0-9A-Z]{11}$"},{"payment_type":"priority","beneficiary_entity_type":"company","beneficiary_address":"^.{1,255}","beneficiary_city":"^.{1,255}","beneficiary_country":"^[A-z]{2}$","beneficiary_company_name":"^.{1,255}","iban":"^[0-9A-Z]{1,34}$","bic_swift":"^[0-9A-Z]{8}$|^[0-9A-Z]{11}$"}]}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/reference/beneficiary_required_details?currency=GBP&bank_account_country=GB&beneficiary_country=GB'
        headers:
            X-Auth-Token: 43814754e0f16a8e8b0bbd1395dd1692
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"8227971efe17e9040be5d8da71628c72"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/reference/beneficiary_required_details?currency=GBP&bank_account_country=GB&beneficiary_country=GB'
        headers:
            X-Auth-Token: 8227971efe17e9040be5d8da71628c72
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"details":[{"payment_type":"priori[...]
