-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/reference/conversion_dates?conversion_pair=GBPUSD
    body: ''
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"invalid_conversion_dates":{"2015-05-02":"No trading on Saturday","2015-05-03":"No trading on Sunday","2015-05-04":"Early May bank holiday","2015-05-09":"No trading on Saturday","2015-05-10":"No trading on Sunday","2015-05-16":"No trading on Saturday","2015-05-17":"No trading on Sunday","2015-05-23":"No trading on Saturday","2015-05-24":"No trading on Sunday","2015-05-25":"Spring bank holiday","2015-05-30":"No trading on Saturday","2015-05-31":"No trading on Sunday","2015-06-06":"No trading on Saturday","2015-06-07":"No trading on Sunday","2015-06-13":"No trading on Saturday","2015-06-14":"No trading on Sunday","2015-06-20":"No trading on Saturday","2015-06-21":"No trading on Sunday","2015-06-27":"No trading on Saturday","2015-06-28":"No trading on Sunday"},"first_conversion_date":"2015-04-30","default_conversion_date":"2015-04-30"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/reference/conversion_dates?conversion_pair=GBPUSD'
        headers:
            X-Auth-Token: 43814754e0f16a8e8b0bbd1395dd1692
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"c87dfe62d37ad39e17a2f3d45a1866ef"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/reference/conversion_dates?conversion_pair=GBPUSD'
        headers:
            X-Auth-Token: c87dfe62d37ad39e17a2f3d45a1866ef
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"invalid_conversion_dates":{"2018-08-04":"No trading on Saturday","2018-08-05":"No [...]
